<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

        <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Reactome Content Service Configuration (ONLY USED IN DEV MODE) -->
    <servlet>
        <servlet-name>ContentServiceProxy</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <!--<param-value>localhost</param-value>-->
            <param-value>dev.reactome.org</param-value>
            <!--<param-value>www.reactome.org</param-value>-->
            <!--<param-value>reactomecurator.oicr.on.ca</param-value>-->
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <!--<param-value>8686</param-value>-->
            <param-value>80</param-value>
            <!--<param-value>8080</param-value>-->
        </init-param>
        <!-- ONLY when connecting to localhost -->
        <!--<init-param>-->
            <!--<param-name>proxyProtocol</param-name>-->
            <!--<param-value>http</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>proxyPath</param-name>
            <!--<param-value>/</param-value>-->
            <param-value>/ContentService/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentServiceProxy</servlet-name>
        <url-pattern>/ContentService/*</url-pattern>
    </servlet-mapping>

</web-app>
